body {
  font-family: Open Sans;
  color: black;
}

body .container {
  position: absolute;
  width: 1366px;
  height: 555px;
  left: 0px;
  top: 0px;
  background: white;
  opacity: 0.65;
  background-image: url("../img/illustration/background.jpg");
  /*modal nih*/
  /*tutup container*/
}

body .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .container .navbar .item {
  font-family: open sans;
  font-style: normal;
  font-weight: 37rem;
  letter-spacing: 0.01em;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  padding: 3rem;
  border: 0rem;
  margin: 0rem;
  color: #4C516D;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

body .container .paragraph {
  text-align: left;
  position: absolute;
  width: 16rem;
  height: 1rem;
  left: 7.5rem;
  top: 6.5rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 40px;
  /* or 121% */
  /* neutral/black-1 */
  color: #131315;
}

body .container .paragraph .learning p {
  text-align: left;
  position: absolute;
  width: 16rem;
  height: 1rem;
  left: 13.4rem;
  top: 2.65rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 40px;
  /* or 121% */
  /* neutral/black-1 */
  color: #131315;
}

body .container .secondparagraph p {
  position: absolute;
  width: 640px;
  height: 87px;
  left: 0.1rem;
  top: 7rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  /* or 28px */
  color: #313548;
}

body .container .paragraph2 p {
  position: absolute;
  width: 640px;
  height: 87px;
  left: 0.1rem;
  top: 8.3rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  /* or 28px */
  color: #313548;
}

body .container .paragraph3 p {
  position: absolute;
  width: 640px;
  height: 87px;
  left: 0.1rem;
  top: 9.6rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  /* or 28px */
  color: #313548;
}

body .container .kejarid {
  position: absolute;
  background-image: url("../img/logo/kejar.png");
  width: 7.65rem;
  height: 1.8rem;
  top: 2rem;
  left: 8rem;
}

body .container .font {
  position: static;
  width: 114px;
  height: 20px;
  left: 0px;
  top: 0px;
  /* button/button-medium */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.01em;
  /* neutral/grey-3 */
  color: #4C516D;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 64px;
}

body .container .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  position: absolute;
  width: 384px;
  height: 428px;
  right: 96px;
  top: 134px;
  /* neutral/white */
  background: #FFFFFF;
  /* drop/shadow-4 */
  -webkit-box-shadow: 0px 15px 25px rgba(65, 51, 104, 0.15), 0px 5px 10px rgba(65, 51, 104, 0.05);
          box-shadow: 0px 15px 25px rgba(65, 51, 104, 0.15), 0px 5px 10px rgba(65, 51, 104, 0.05);
  border-radius: 8px;
  /*tutup modal */
}

body .container .modal input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 16px;
  position: static;
  width: 320px;
  height: 40px;
  left: 0px;
  top: 28px;
  /* neutral/white */
  background: #FFFFFF;
  /* neutral/grey-13 */
  border: 2px solid #E5E7F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
}

body .container .modal h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

body .container .modal h4 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* heading/h5 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  /* neutral/black-1 */
  color: #131315;
}

body .container .modal h5 {
  position: static;
  width: 54px;
  height: 20px;
  left: 133px;
  top: 10px;
  /* button/button-medium */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.01em;
  /* neutral/white */
  color: #FFFFFF;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 8px;
}

body .container .modal .b1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: static;
  width: 320px;
  height: 40px;
  left: 0px;
  top: 0px;
  -webkit-box-shadow: rgba(65, 51, 104, 0.12) 0px 1px 3px, rgba(65, 51, 104, 0.24) 0px 1px 2px;
          box-shadow: rgba(65, 51, 104, 0.12) 0px 1px 3px, rgba(65, 51, 104, 0.24) 0px 1px 2px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 10px 16px;
  background: #fa007d;
  border-radius: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 8px 0px;
  margin-left: 30px;
  margin-top: 45px;
}

body .container .modal .b1 .ask {
  position: static;
  width: 320px;
  left: calc(50% - 320px/2);
  top: 0%;
  bottom: 0%;
  /* paragraph/small-paragraph */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  text-align: center;
  /* neutral/grey-6 */
  color: #878AA6;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
}
/*# sourceMappingURL=style.css.map */